BODY { 
	background-color: #B0C4DE;	
}

FONT, DIV, TD { 
	vertical-align: top;
	font-family: sans-serif;  
	font-size: 10pt;  
	line-height: 13.2pt;
	color: WindowText;   
}

DIV.main { 
	position: absolute;  
	top: 0px;  
	left: 0px;   
	width: 100%;
}

DIV.head {
	background-color: #D5E0EE;
	border-bottom: 2px groove #D5E0EE;
	padding: 5px;
}

DIV.title {
	font-size: 22pt;  
	line-height: normal;
	font-weight: bold;
	font-style: italic;
	position: absolute;
	display: inline;
}

DIV.subject {
	font-size: 16pt;  
	line-height: normal;
	color: #7A5B12;
	font-weight: bold;
	position: relative;
	display: inline;
	Left: 5px;
	top: 32px;
}

SPAN.title {
	position: absolute;
	color: #D5E0EE;
}

SPAN.title_high {
	color: #F4F5F7;
	position: absolute;	
	left: -1px;
	top: -1px;
}

SPAN.title_low {
	color: #4D5A63;
	position: absolute;
	left: 1px;
	top: 1px;
}

DIV.content {
	padding-left: 5px;		
	padding-right: 5px;		
}

H1 {
	font-size: 16pt;
	line-height: normal;
	margin: 5px;
	margin-top: 10px;
	margin-left: -5px;
	padding-left: 5px;
	border-left: 10px solid #906C15;
	border-bottom: 1px solid #906C15;
}

H2 {
	font-size: 14pt;
	line-height: normal;
	font-style: italic;
	margin: 5px;
	margin-left: -5px;
	margin-top: 15px;
	padding-left: 5px;
	border-left: 7px solid #AD8119;
	border-bottom: 1px solid #AD8119;
}

H3 {
	font-size: 12pt;
	line-height: normal;
	margin: 5px;
	margin-left: -5px;
	margin-top: 10px;
	padding-left: 5px;
	border-left: 5px solid #B8891B;
	border-bottom: 1px solid #B8891B;
}

H4 {
	font-size: 10pt;
	line-height: normal;
	font-style: italic;
	margin: 5px;
	margin-left: -5px;
	margin-top: 10px;
	padding-left: 5px;
	border-left: 3px solid #D59F1F;
	border-bottom: 1px solid #D59F1F;
}

PRE {
	background-color: #E1DED1;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px inset #DCDCDC;
}

PRE.indent {
	margin-left: 20px;
}

TH {
	/* TODO */
	font-weight: bold;
	font-size: 10pt;
	line-height: normal;
	border-bottom: 2px inset silver;
}

A {
	padding: 2px;
	text-decoration: none;
	background-color: inherited;
	color: #3E6596;
}

A:Hover {
	color: #987301;
}

U {
	text-decoration: none;
	border-bottom: 1px solid #916C15;
}

P {
	margin-top: 5px;
	margin-bottom: 5px;
}